<html>
<head>
	<title>Home</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


	
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    	<!-- CSS -->
	 <link href='/css/home.css' rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- JS -->
    <script src='/js/getSong.js'></script>

    
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">SpotiMood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/setting"><i class="fas fa-cog"></i></a>
            
            </div>
        </div>
    </nav>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="/mood"> <i class="far fa-smile"></i> </a>
            <a class="nav-item nav-link" href="/home"> <i class="fas fa-home"></i> </a>
            <a class="nav-item nav-link" href="/playlists"><i class="fas fa-music"></i> </a>
            
            </div>
        </div>
    </nav>
    

    
    <div class="container">

    <div class= "welcome">
			<div id="user">
				<img sr class="userphoto">
                <i class="fas fa-user-circle fa-3x" aria-hidden='true' id="icon"></i>
                <h4 style="padding-left: 15"> Welcome back user!</h4>
                <h5 style="padding-left: 15; padding-bottom: 30"> Why so happy?</h5>
                <a href="/getSong" class="btn btn-primary">Get Song!</a>
            </div>
            
        <div class="songRecs">
            <div class= "song">
                <img src="" class = "userphoto"><p style="padding-left: 100px">  song title... song length </p>
            </div>
            <div class= "song">
                <img src="" class = "userphoto"><p style="padding-left: 100px"> song title... song length </p>
            </div>
            <div class= "song">
                <img src="" class = "userphoto"><p style="padding-left: 100px"> song title... song length </p>
            </div>
            <div class= "song">
                <img src="" class = "userphoto"><p style="padding-left: 100px"> song title... song length </p>
            </div>
        </div>
    </div>

    </div>
    
    
</body>



</html>



</html>
