<html>
<head>
	<title>Home</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


	
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link href='/css/home.css' rel="stylesheet">
    

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- JS -->
    <script src='/js/getSong.js'></script>

    
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mediumSeaGreen">

        
        <a class="navbar-brand" href="#">SpotiMood</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav nav nav-pills nav-fill">
            <li class="nav-item active"><a href="/mood"><i class="far fa-smile no-color-link"></i></a></li>
            <li class="nav-item"><a href="/login"><i class="fas fa-home no-color-link iconPadding"></i></a></li>
            <li class="nav-item"><a href="/home"><i class="fas fa-sign-out-alt no-color-link iconPadding"></i></a></li>
        </ul>
            
            </div>
        </div>
   
    </nav>

   <!--  <a class="nav-item nav-link" href="/setting"><i class="fas fa-cog"></i></a>
 -->

    
    <nav class="navbar navbar-expand-lg navbar-dark mediumSeaGreen fixed-bottom center-block navbarPadding">

    <div class="container-fluid">
    
        <ul class="navbar-nav nav nav-pills nav-fill">
            <li class="nav-item active"><a href="/mood"><i class="far fa-smile no-color-link"></i></a></li>
            <li class="nav-item"><a href="/home"><i class="fas fa-home no-color-link iconPadding"></i></a></li>
        </ul>
    </div>

    </nav>
    
    

    
    <div class="container" style="padding-top: 7%;">

    <div class= "welcome">
        <div id="user">
            <img class="userphoto" src="{{images}}">
            <h4 > Welcome back {{email}}!</h4>
            <h5> How are you feeling?</h5>
            <a href="/getSong" class="btn btn-primary">Get Most Recent Song!</a>
        </div>
            
        <div class="songRecs">
            
        <div class = "row">
            <div class="card" id="song1" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song2" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song3" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song4" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>
        </div>



        <div class = "row">
            <div class="card" id="song5" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song6" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song7" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song8" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="card" id="song9" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song10" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song11" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song12" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="card" id="song13" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song14" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song15" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song16" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>
        </div>
        
        <div class = "row">
            <div class="card" id="song17" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song18" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song19" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>

            <div class="card" id="song0" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Song Title - Artist</h6>
                    <p class="card-text">Song Length</p>
                </div>
            </div>
        </div>
     
        </div>

    
    
    
</body>



</html>



</html>
