<html>
<head>
	<title>Index</title>
</head>
<body>

Begin here (or replace this with any static code already written).




<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBvWcAaeczS12VRY__XiOXQMBD6hd3dAH0",
    authDomain: "spotimood.firebaseapp.com",
    databaseURL: "https://spotimood.firebaseio.com",
    projectId: "spotimood",
    storageBucket: "spotimood.appspot.com",
    messagingSenderId: "723908026631"
  };
  firebase.initializeApp(config);
</script>
</body>



</html>
