<!doctype html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }

    </style>
        <link rel="stylesheet" href='/css/login.css'>

  </head>

  <body>
    <div style="padding-top: 50px">

    <div class="container form">
      <div id="login" class ="textCenter">
        <h1>Spotimood</h1>
        <h4>Welcome Back!</h4>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
        <a href="/home" class="btn btn-primary">Home</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        
      </div>

  </div>
 </div>

   
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>


     
    </script>
  </body>
</html>
