<html>
<head>
    <title>Mood</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


    
    
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
        <!-- CSS -->
     <link href='/css/home.css' rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- JS -->
    <script src='/js/getSong.js'></script>

    
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">SpotiMood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">MOOD<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/setting"><i class="fas fa-cog"></i></a>
            
            </div>
        </div>
    </nav>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="/mood"> <i class="far fa-smile"></i> </a>
            <a class="nav-item nav-link" href="/home"> <i class="fas fa-home"></i> </a>
            <a class="nav-item nav-link" href="/playlists"><i class="fas fa-music"></i> </a>
            
            </div>
        </div>
    </nav>
    
    <h1 style="padding-top: 100; padding-bottom: 50; text-align: center; font-size: 
               100px;"> HAPPY </h1>
    
    
      <p class="w3-wide" style="padding-left: 2%">Joy</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
        </div>
        <p class="w3-wide" style="padding-left: 2%">Hype</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
        </div>
        <p class="w3-wide" style="padding-left: 2%">Hopeful</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:30%">30%</div>
        </div>
        <p class="w3-wide" style="padding-left: 2%">Sad</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:25%">25%</div>
        </div>
        <p class="w3-wide" style="padding-left: 2%">Angry</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:10%">10%</div>
        </div>



    </body>
</html>