
<html>
<head>
    <title>Mood</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href='/css/mood.css'>


    <!-- jQuery -->


    <!-- JS -->

    -- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/mood.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mediumSeaGreen">

        
        <a class="navbar-brand" href="#">SpotiMood</a>


    </nav>

   

    
    <nav class="navbar navbar-expand-lg navbar-dark mediumSeaGreen fixed-bottom center-block navbarPadding">

    <div class="container-fluid">
    
        <ul class="navbar-nav nav nav-fill">
            <li><a href="/mood"><i class="far fa-smile no-color-link"></i></a></li>
            <li><a href="/home"><i class="fas fa-home no-color-link iconPadding"></i></a></li>
            <li><a href="/playlists"><i class="fas fa-music no-color-link iconPadding"></i></a></li>
            <li><a href="/setting"><i class="fas fa-cog no-color-link iconPadding"></i></a></li>
        </ul>
    </div>
        
    </nav>
    

    
    <div class ="container-fluid">

        <div id="myDiv" style="width: 480px; height: 400px;  width: 50%; margin: 0 auto;"></div>

    </div>


    <!-- modal -->

    <div class="modal fade" id="lyricsModal" tabindex="-1" role="dialog" aria-labelledby="lyricsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div id="loader"></div>

                <div id="dataVis" style="width: 480px; height: 400px;  width: 50%; margin: 0 auto;"></div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>



    <table class="table table-hover table-dark">
        <thead>
            <tr id="not_a_song">
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
            <th scope="col">Duration</th>
            </tr>
        </thead>


        <tbody>
            {{#each songs}}
                <tr id={{@index}} data-toggle="modal" data-target ="#lyricsModal">
                    <td id="name">{{name}}</td>
                    <td id="artist">{{artist}}</td>
                    <td id="duration">{{duration}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>


    <div class="fixedOffsetPadding">
    </div>


    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src='/js/displayLyrics.js'></script>
            <script src='js/displayModal.js'></script>
    </body>
</html>