<html>
<head>
	<title>Playlists</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    	<!-- CSS -->
	<link href='/css/playlists.css' rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
	<!-- JS -->
    
    
</head>
<body>
    
    <ul class ="topnav">
        <li style="padding-left: 47%"> PLAYLISTS </li>
        <li style="padding-left: 45%"><a href="/setting"><i class="fas fa-cog"></i></a></li>
    </ul>
    
    <ulbot class>
        <li><a href="/mood"> <i class="far fa-smile"></i></a></li>
        <li style="padding-left: 49%"><a href="/home"><i class="fas fa-home"></i></a></li>
        <li style="padding-left: 46%"><a href="/playlists"><i class="fas fa-music"></i></a></li>
    </ulbot>
    <p style="padding-top: 40"> 				
        <p>So, you feel Happy?</p>
        <p>Here's a playlist for you and your happy mood:</p>
        <hr />
        <table>
        <tbody>
        <tr>
        <td>"Happy Together" by The Turtles</td>
        </tr>
        <tr>
        <td>"A Happy Song" by Happy Artist</td>
        </tr>
        <tr>
        <td>
        <p>"Another Happy Song" by Another Happy Artist</p>
        </td>
        </tr>
        </tbody>
        </table>
        <a href="/home" class="btn btn-primary">Return to Home</a>
    </p>

</body>
</html>