<html>
<head>
	<title>Playlists</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


    
    
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href='/css/home.css' rel="stylesheet">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- JS -->
    <script src='/js/getSong.js'></script>

    
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">SpotiMood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"> PLAYLISTS <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/setting"><i class="fas fa-cog"></i></a>
            
            </div>
        </div>
    </nav>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="/mood"> <i class="far fa-smile"></i> </a>
            <a class="nav-item nav-link" href="/home"> <i class="fas fa-home"></i> </a>
            <a class="nav-item nav-link" href="/playlists"><i class="fas fa-music"></i> </a>
            
            </div>
        </div>
    </nav>

    <p style="padding-top: 40"> 				
        <p>So, you feel Happy?</p>
        <p>Here's a playlist for you and your happy mood:</p>
        <hr />
        <table>
        <tbody>
        <tr>
        <td>"Happy Together" by The Turtles</td>
        </tr>
        <tr>
        <td>"A Happy Song" by Happy Artist</td>
        </tr>
        <tr>
        <td>
        <p>"Another Happy Song" by Another Happy Artist</p>
        </td>
        </tr>
        </tbody>
        </table>
        <a href="/home" class="btn btn-primary">Return to Home</a>
    </p>

</body>
</html>