<html>
<head>
	<title>Settings</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    	<!-- CSS -->
	<link href='playlists.css' rel="stylesheet">

	
	<!-- JS -->
    
    
</head>
<body>
    
    <ul class ="topnav">
        <li style="padding-left: 47%"> SETTINGS </li>
        <li style="padding-left: 46%"><a href="settings.handlebars"><i class="fas fa-cog"></i></a></li>
    </ul>
    
    <ulbot class>
        <li><a href="mood.html"> <i class="far fa-smile"></i></a></li>
        <li style="padding-left: 49%"><a href="home.handlebars"><i class="fas fa-home"></i></a></li>
        <li style="padding-left: 47.5%"><a href="playlists.handlebars"><i class="fas fa-music"></i></a></li>
    </ulbot>
    <p style="padding-top: 300"> under construction </p>
    </body>
</html>