.topnav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: mediumseagreen;

    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-nav{
    flex-direction: inherit;
}


nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

nav li {
    display: inline;
    white-space: nowrap;
    text-decoration: none;
} 

ulbot{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#user {
    margin: auto;
    max-width: 100%;
    text-align: left;
    height: auto;
}

.userphoto{
    border-radius: 50%;
    width: 60px;
}

.albumphoto{
    border-radius: 50%;
    width: 60px;
}


.songRecs{
    width: 100%;
    height: 100%;
    margin: 15;
}



.mediumSeaGreen{
    background-color: mediumseagreen;
    }
    
.navbarPadding{
    padding: 1%;
}

.bottomPadding{
    padding-bottom: 4%;
}

.no-color-link{
    color:black;
}

.iconPadding{
    margin-left: 350px;
}

.songPadding{
    padding-top: 4%;
}
    
.row{
    padding-bottom: 150px;
}

.card{
    display: none;
}