
.topnav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: mediumseagreen;

    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    
  } 

.nav li {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
}

ulbot{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.mediumSeaGreen{
background-color: mediumseagreen;
}

.navbarPadding{
    padding: 1%;
}

.bottomPadding{
    padding-bottom: 4%;
}

.iconPadding{
    margin-left: 350px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

.noBorder{
    border:none;
}

.no-color-link{
    color:black;
}

.iconPadding{
    margin-left: 20px;
}

.songPadding{
    padding-top: 4%;
}

.sticky
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.modal {
    overflow: hidden;
}
.modal .modal-body {
    height: 570px;
    overflow: auto;
}
.modal .modal-fixed {
    position: fixed;
    background-color:red;
}