
.topnav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: mediumseagreen;

    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}


ulbot{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.mediumSeaGreen{
background-color: mediumseagreen;
}

.navbarPadding{
    padding: 1%;
}

.bottomPadding{
    padding-bottom: 4%;
}

.no-color-link{
    color:black;
}

.iconPadding{
    margin-left: 350px;
}

.playlistPadding{
    padding-top: 8%;
}

.playlistPadding2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.playlistPaddingBot{
    padding-bottom: 8%;
}

.playlistDiv{
    margin: 0 auto;
    border-radius: 10px 10px;
    background: #f1f1f1;
    padding-bottom: 3px;
    max-width: 40%;
    height: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    min-height: 40%;
    
}

.innerPlaylist{

    text-align: center;
    margin: auto;
    padding-top: 20%;
}